:root {
  --teal: rgb(19, 97, 101);
  --yellow: rgb(224, 224, 20);
  --purple: rgb(67, 14, 67);
}

* {
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: var(--purple);
}

nav {
  border-bottom: solid 5px var(--yellow);
  background-color: var(--teal);
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: var(--purple);
}

li {
  display: inline;
}

ul {
   text-align: right;
   word-spacing: 10px;
   padding: 20px;
   }

a {
  color: var(--yellow);
  text-decoration: none;
}

h1 {padding-bottom: 15px;}

h1, figcaption {
  margin-top: 50px;
  text-align: center;
  color: var(--teal);
  text-shadow: 10px 5px 2px black;
  -webkit-text-stroke: 1px black;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#headshot {
   padding: 10px;
   border: solid black 10px;
   background-color: var(--yellow);
   width:auto;
   max-height: 100%;
   box-shadow: inset 0 0 0 5px var(--teal);
}

figcaption {
  font-size: 1.25em;
  border-bottom: solid 5px var(--yellow);
  padding-bottom: 50px;
}

section, div {
  background-color: var(--teal);
}

h2 { 
  color: var(--yellow);
  font-size: 2em;
  padding-top: 50px;
  text-decoration: underline;
} 

p {
  text-align: center;
  color: var(--yellow);
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 5px var(--yellow);
}

#First-Project {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px;
  width: 50%;
  max-height: 50%;
}

.bottom-left {
  display: inline-flex;
  position: relative;
  bottom: 75px;
  color: white;
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px ;
  background-color: black;
}

footer {
  padding-bottom: 25px;
  background-color: var(--teal);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 110px;
}

.Placeholder {
  display: inline-flex;
  position: relative;
  color: white;
  right: 102px;
  background-color: black;
  border-radius: 10px;
  border: solid black 1px;
  font-size: .75em;
  padding: 5px;
  transition: all 0.5s ease-in-out;}
