/* added root pseudo class to make assigning colors easier */
:root {
  --teal: rgb(19, 97, 101);
  --yellow: rgb(224, 224, 20);
  --purple: rgb(67, 14, 67);
}

/* created a hover color on nav. links */
nav a:hover {
  color: var(--purple);
}

/* setting the base margin and padding to 0 to be able to adjust from there */
* {
  margin: 0;
  padding: 0;
}

/* created a nav section */
nav {
  border-bottom: solid 5px var(--yellow);
  background-color: var(--teal);
}

/* sets the body position and style */
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: var(--purple);
}

/* I want the links to display horizontally*/
li {
  display: inline;
}

/* to display the ul in a line to the right of the page */
ul {
   text-align: right;
   word-spacing: 10px;
   padding: 20px;
   }

  /* links to be yellow with no underline */
a {
  color: var(--yellow);
  text-decoration: none;
}


h1 {padding-bottom: 15px;}

/* styling the h1 heading and caption with drop shadows, letter outline */
h1, figcaption {
  font-size: 3em;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  color: var(--teal);
  text-shadow: 10px 5px 2px black;
  -webkit-text-stroke: 1px black;
}

/* created a 'center' class to style different section of the page all in the center using the same values */
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

/* styling the headshot photo with multiple borders using inset box-shadow.
   also setting the size of the photo. */
#headshot {
   padding: 10px;
   border: solid black 10px;
   background-color: var(--yellow);
   width:auto;
   max-height: 100%;
   box-shadow: inset 0 0 0 5px var(--teal);
}

/* styling the caption of the headshot.  Setting the font size to 1.25em which is 25px */
figcaption {
  font-size: 1.75em;
  font-weight: bold;
  border-bottom: solid 5px var(--yellow);
  padding-bottom: 50px;
}

figcaption::before {
  content: "★";
  padding-right: 20px;
  color: var(--yellow);
}

figcaption::after {
  content: "★";
  color: var(--yellow);
  padding-left: 20px;
}

/* created a background color for an entire section */
section, div {
  background-color: var(--teal);
}

/* styling h2 */
h2 { 
  color: var(--yellow);
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 25px;
  text-decoration: underline;
} 

/* styling the class bio */
.Bio {
  text-align: center;
  color: var(--purple);
  font: bold;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: solid 5px var(--yellow);
}

/* styling the photo link to be largest in portfolio section */
.First-Project {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 50%;
  border: solid var(--yellow) 2px;
}

/* created a class for the inset text box on first project photo */
.text-box {
  display: inline-flex;
  position: relative;
  bottom: 25px;
  color: var(--yellow);
  border: dotted var(--yellow) 1px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--purple);
}

 /* flext box section styling */
.container {
  display: inline-flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding-top: 50px;
  padding-left: 110px;
  padding-bottom: 50px;
  padding-right: 110px;
}

/* style the text box for the placeholder images and links.  Set font size to .75em which is 15 px.  Will be replaced onces projects are created */
.Placeholder-text-box{
  display: inline-flex;
  position: relative;
  color: var(--yellow);
  right: 102px;
  background-color: var(--purple);
  border-radius: 10px;
  border: dotted var(--yellow) 1px;
  font-size: .75em;
  padding: 5px;
  }

  #place {
    width: auto;
  }

  /* created a border for the placeholder images */
/* img {
  border: solid var(--yellow) 1px;
  max-width: 75%;
  max-height: 50%;
  } */

  /* styling the email and name section  */
#Contact {
  padding: 5px;
  padding-top: 20px;
  color: var(--purple)
}

/* styling the footer section which holds the contact information */
  footer {
    padding-bottom: 30px;
    background-color: var(--teal);
    border-top: solid var(--yellow) 5px;
  }

  /* styling the submit button to better represent the page asthetic.  Set font size to 1 em, or 20px*/
  #button {
    color: var(--yellow);
    background-color: var(--purple);
    font-size: 1em;
    border-radius: 10px;
    margin-top: 10px;
    border: dotted var(--yellow);
    cursor: pointer;
    padding: 5px 20px 5px;
  }

  /* when hovering over the submit button the background color and font color changes */
  #button:hover {
    background-color: var(--yellow);
    color: var(--purple);
  }

  /* when the submit button has been clicked, the background color and font color changes */
  #button:focus {
    background-color: var(--yellow);
    color: var(--purple);
  }
  
  /* when clicking and holding the submit button, the background color changes */
  #button:active {
    background-color: var(--teal);
  }

  /* for screens smaller than 391px, the background color changes to teal
  and the color of the text in the h1 and figure caption changes as well as the drop shadow disapears */
  @media screen and (max-width: 601px) {
    body {
      background-color: var(--teal);
    }
    h1, figcaption {
      color: var(--purple);
      text-shadow: 0px 0px 0px;
    }

    /* the nav links change to stack ontop of each other */
    ul, li {
      display: block;
      text-align: center;
      padding: 10px;
    }

    /* added a top border to clearly seperate the links */
  li {
    border-top: solid var(--yellow) 1px;
  }