* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(67, 14, 67);
}

li {
  display: inline;
}

ul {text-align: right;
   word-spacing: 10px;
   padding: 20px;
   }

a {
  color: rgb(224, 224, 20);
  text-decoration: none;
}

h1, figcaption {
  text-align: center;
  color: rgb(19, 97, 101);
  text-shadow: 10px 5px 2px black;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
}

img {
   padding: 5px;
   border: solid rgb(224, 224, 20) 2px;
   background-color: 20px;}